# Data Scientist Life Cycle

## eCommerce Industry - Customers Dataset Study Case

#### What Do We Need from the Mean Data?  What Does the Mean Data Try to Say? What Is the Business' Questions? What Does the business Need to Predict?

### 1. The Businees Needs to Know Which Prefered for Users App Or Website?

#### Phase(1): Importing Libraries _ToolKits_ عدة الشغل

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Phase(2): Importing & Inspecting Data Or Facts _Raw_Material_ الماده الخام

In [5]:
eCmrc_csmr=pd.read_csv("Ecommerce Customers.csv")

In [6]:
type(eCmrc_csmr)

pandas.core.frame.DataFrame

In [7]:
eCmrc_csmr.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [8]:
eCmrc_csmr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [9]:
eCmrc_csmr.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [10]:
eCmrc_csmr.describe().round()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.0,500.0,500.0,500.0,500.0
mean,33.0,12.0,37.0,4.0,499.0
std,1.0,1.0,1.0,1.0,79.0
min,30.0,9.0,34.0,0.0,257.0
25%,32.0,11.0,36.0,3.0,445.0
50%,33.0,12.0,37.0,4.0,499.0
75%,34.0,13.0,38.0,4.0,549.0
max,36.0,15.0,40.0,7.0,766.0

In [11]:
eCmrc_csmr.describe().round(2)

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.00,500.00,500.00,500.00,500.00
mean,33.05,12.05,37.06,3.53,499.31
std,0.99,0.99,1.01,1.00,79.31
min,29.53,8.51,33.91,0.27,256.67
25%,32.34,11.39,36.35,2.93,445.04
50%,33.08,11.98,37.07,3.53,498.89
75%,33.71,12.75,37.72,4.13,549.31
max,36.14,15.13,40.01,6.92,765.52

In [13]:
eCmrc_csmr.head().round()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.0,13.0,40.0,4.0,588.0
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,32.0,11.0,37.0,3.0,392.0
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.0,11.0,37.0,4.0,488.0
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.0,14.0,37.0,3.0,582.0
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.0,13.0,38.0,4.0,599.0

#### We always Need to Believe in Only Statistics & Math! Don't Fall into the trap of values! Falsefiction! الزائف Experience of Thing is very important! Firstly You Need to Stop on Data & Understand and Get More Insights as you can from Dataset!

#### Phase(3): Exploring Data

#### Phase(4): Data Pre-Processing

#### Phase(5): Model Building & Training

#### Phase(6): Model Evaluation